.place__title {
    font-size: 7.2rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    margin: 0;
    grid-area: title;
    height: fit-content;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 4.2rem;
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 3.2rem;
        line-height: 1.1;
        text-align: left;
    }
}