.gallery {
    margin: 0px 48px 92px 48px;
    max-width: 1280px;
}

@media screen and (min-width: 1280px) {
    .gallery {
        margin: 0px auto 92px auto;
    }
}

@media screen and (max-width: 800px) {
    .gallery {
        margin: 0px 24px 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        margin: 0px 16px 64px 16px;
    }
}