.gallery__container {
    display: grid;
    grid-template-columns: repeat(4, 23.98%);
    grid-template-rows: repeat(2, 48.19%);
    gap: 16px;
    min-width: 92.5%;
}

@media screen and (max-width: 768px) {
    .gallery__container {
        grid-template-columns: repeat(2, 48.88%);
        grid-template-rows: repeat(4, 23.91%);
    }
}

@media screen and (max-width: 320px) {
    .gallery__container {
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(1, 11.9%);
        gap: 12px;
        max-width: 28.8rem;
    }
}