.lead {
    margin: 0px 0px 108px 0px;
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0px 0px 88px 0px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 0px 0px 40px 0px;
    }
}