.lead__title {
    font-size: 9.6rem;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0px 107px 32px 84px;
    max-width: 100%
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0px 0px 32px 0px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 4rem;
        line-height: 1.1;
        margin: 0px 0px 16px 0px;
    }
}