.visit__button {
    padding: 13px 20px;
    border-radius: 4px;
    border: none;
    display: block;
    background-color: #0278fe;
    color: #fff;
    width: 13.7rem;
    height: fit-content;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 3.2rem auto 0px auto;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    transition: background-color 1.5s;
}

.visit__button:hover {
    background-color: #0063d2;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .visit__button {
        margin: 1.6rem auto 0px auto;
    }
}