.lead__image {
    min-width: 76.87%;
    margin: 0px auto 10.8rem auto;
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 100%;
        margin: 0px 0px 8.8rem 0px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin-bottom: 6.4rem;
    }
}