.lead__image {
    max-width: 100%;
    margin: 0px 148px 0px 148px;
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin: 0px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin: 0px;
    }
}