.intro {
    margin: 0px 0px 118px 148px;
    max-width: 1280px;
}

@media screen and (max-width: 950px) {
    .intro {
        margin: 0px 0px 88px 0px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 0px 0px 90px 0px;
    }
}