.visit__info {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

.visit__info span {
    display: block;
}

@media screen and (max-width: 768px) {
    .visit__info {
        font-size: 1.4rem;
        line-height: 1.1;
    }
}