.place {
    margin: 0px 148px 80px 148px;
}

@media screen and (max-width: 768px) {
    .place {
        margin: 0px 24px 72px 24px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin: 0px 16px 48px 16px;
    }
}