.visit__title {
    font-size: 7.2rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    text-align: center;
    margin: 24.3rem auto 3.2rem auto;
}

@media screen and (max-width: 768px) {
    .visit__title {
        margin: 24.6rem auto 3.2rem auto;
    }
}

@media screen and (max-width: 320px) {
    .visit__title {
       font-size: 3.2rem;
       line-height: 1.1;
       margin: 4.6rem auto 1rem auto;
    }
 }