.intro__description {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0px 44.2rem 11.8rem 14.8rem;
}

@media screen and (max-width: 768px) {
    .intro__description {
        margin: 0px auto 8.8rem auto;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 320px) {
    .intro__description {
        margin: 0px auto 9rem auto;
        max-width: 90%;
    }
}