.intro__description {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0px 95px 118px 0px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .intro__description {
       margin: 0px;
    }
}

@media screen and (max-width: 320px) {
    .intro__description {
        margin: 0px;
    }
}