.place__artist {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-transform: none;
    grid-area: artist;
    display: table;
    max-height: 45px;
    margin: 0px;
}

.place__artist span {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
    color: #aaa;
    grid-area: artist;
    letter-spacing: 0.12em;
    display: table;
    margin: 0px 0px 8px 0px;
}

@media screen and (max-width: 320px) {
    .place__artist {
        font-size: 1.2rem;
        line-height: 1;
        margin: 0px 0px 0px 0px;
    }
    .place__artist span {
        margin-bottom: 12px;
    }
}
