.place__artist {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-transform: none;
    grid-area: artist;
    max-height: 45px;
    margin: 0px;
}


@media screen and (max-width: 320px) {
    .place__artist {
        font-size: 1.2rem;
        line-height: 1;
        margin: 0px 0px 0px 0px;
        letter-spacing: 0.2em;
    }
}
