.intro__title {
    font-size: 5.4rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.1;
    margin: 0px 347px 40px 0px;
    text-align: left;
    max-width: 785px;
}

@media screen and (min-width: 1280px) {
    .intro__title {
        margin: 0px 347px 40px 0px;
    }
}

@media screen and (max-width: 950px) {
    .intro__title {
        margin: 0px 24px 40px 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 3.2rem;
        margin: 0px 16px 40px 16px;
    }
}